<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CTVMS"
        tools:targetApi="31">
        <activity
            android:name=".editPlan"
            android:exported="false" />
        <activity
            android:name=".addPlan"
            android:exported="false" />
        <activity
            android:name=".managePlan"
            android:exported="false" />
        <activity
            android:name=".editCustomer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customerSelector"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customerDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dueChecker"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createaccount_personal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helpCenter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aboutApp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminChangePassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminNotifications"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalInfoAdmin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adminHome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addCustomer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminLogin"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>